:root {
  --timebase: 1s;
}

/* .bounce-enter-active, */
.bounce-enter-from,
.bounce-enter-active .outer .bounce-enter-active,
.bounce-enter-from .outer .bounce-enter-from
 { animation: bounceIn calc(var(--timebase) * .25); }

/* .bounce-leave-active, */
.bounce-leave-to,
.bounce-leave-active .outer .bounce-enter-active,
.bounce-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce2-enter-active, */
.bounce2-enter-from,
.bounce2-enter-active .outer .bounce-enter-active,
.bounce2-enter-from .outer .bounce2-enter-from
 { animation: bounceIn calc(var(--timebase) * .75); }

/* .bounce2-leave-active, */
.bounce2-leave-to,
.bounce2-leave-active .outer .bounce-enter-active,
.bounce2-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce3-enter-active, */
.bounce3-enter-from,
.bounce3-enter-active .outer .bounce-enter-active,
.bounce3-enter-from .outer .bounce3-enter-from
 { animation: bounceIn calc(var(--timebase) * 1); }

/* .bounce3-leave-active, */
.bounce3-leave-to,
.bounce3-leave-active .outer .bounce-enter-active,
.bounce3-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce4-enter-active, */
.bounce4-enter-from,
.bounce4-enter-active .outer .bounce-enter-active,
.bounce4-enter-from .outer .bounce4-enter-from
 { animation: bounceIn calc(var(--timebase) * 1.25); }

/* .bounce4-leave-active, */
.bounce4-leave-to,
.bounce4-leave-active .outer .bounce-enter-active,
.bounce4-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce5-enter-active, */
.bounce5-enter-from,
.bounce5-enter-active .outer .bounce-enter-active,
.bounce5-enter-from .outer .bounce5-enter-from
 { animation: bounceIn calc(var(--timebase) * 1.5); }

/* .bounce5-leave-active, */
.bounce5-leave-to,
.bounce5-leave-active .outer .bounce-enter-active,
.bounce5-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce6-enter-active, */
.bounce6-enter-from,
.bounce6-enter-active .outer .bounce-enter-active,
.bounce6-enter-from .outer .bounce6-enter-from
 { animation: bounceIn calc(var(--timebase) * 1.75); }

/* .bounce6-leave-active, */
.bounce6-leave-to,
.bounce6-leave-active .outer .bounce-enter-active,
.bounce6-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce7-enter-active, */
.bounce7-enter-from,
.bounce7-enter-active .outer .bounce-enter-active,
.bounce7-enter-from .outer
 { animation: bounceIn calc(var(--timebase) * 2); }

/* .bounce7-leave-active, */
.bounce7-leave-to,
.bounce7-leave-active .outer .bounce-enter-active,
.bounce7-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce8-enter-active, */
.bounce8-enter-from,
.bounce8-enter-active .outer .bounce-enter-active,
.bounce8-enter-from .outer .bounce8-enter-from
 { animation: bounceIn calc(var(--timebase) * 2.25); }

/* .bounce8-leave-active, */
.bounce8-leave-to,
.bounce8-leave-active .outer .bounce-enter-active,
.bounce8-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce9-enter-active, */
.bounce9-enter-from,
.bounce9-enter-active .outer .bounce-enter-active,
.bounce9-enter-from .outer .bounce9-enter-from
 { animation: bounceIn calc(var(--timebase) * 2.5); }

/* .bounce9-leave-active, */
.bounce9-leave-to,
.bounce9-leave-active .outer .bounce-enter-active
.bounce9-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce10-enter-active, */
.bounce10-enter-from,
.bounce10-enter-active .outer .bounce-enter-active,
.bounce10-enter-from .outer .bounce10-enter-from
 { animation: bounceIn calc(var(--timebase) * 2.75); }

/* .bounce10-leave-active, */
.bounce10-leave-to,
.bounce10-leave-active .outer .bounce-enter-active,
.bounce10-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce11-enter-active, */
.bounce11-enter-from,
.bounce11-enter-active .outer .bounce-enter-active,
.bounce11-enter-from .outer .bounce11-enter-from
 { animation: bounceIn calc(var(--timebase) * 3); }

/* .bounce11-leave-active, */
.bounce11-leave-to,
.bounce11-leave-active .outer .bounce-enter-active,
.bounce11-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

/* .bounce12-enter-active, */
.bounce12-enter-from,
.bounce12-enter-active .outer .bounce-enter-active,
.bounce12-enter-from .outer .bounce12-enter-from
 { animation: bounceIn calc(var(--timebase) * 3.5); }

/* .bounce12-leave-active, */
.bounce12-leave-to,
.bounce12-leave-active .outer .bounce-enter-active,
.bounce12-leave-to .outer .bounce-leave-to
 { animation: bounceOut calc(var(--timebase) * .25); }

.topDown-enter-active {
  position: relative;
  transform: translateY(0px);
  animation: topDown .75s;
}
.topDown-leave-active {
  position: relative;
  transform: translateY(0px);
  animation: bottomUp 0.25s;
}

@keyframes topDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.bottomUp-enter-active {
  position: relative;
  transform: translateY(0px);
  animation: bottomUp .5s;
}

.bottomUp-leave-active {
  position: relative;
  transform: translateY(0px);
  animation: bottomUp 0s;
}

@keyframes bottomUp {
  0% {
    transform: translateY(0px);
    opacity: 0;
    height: 0;
  }

  100% {
    transform: translateY(-100px);
    opacity: 1;
  }
}

.leftIn-enter-active {
  position: relative;
  transform: translateX(0px);
  animation: leftIn .5s;
}

.leftIn-leave-active {
  position: relative;
  transform: translateX(0px);
  animation: leftIn 0s;
}

@keyframes leftIn {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.rightIn-enter-active {
  position: relative;
  transform: translateX(0px);
  animation: rightIn .5s;
}

.rightIn-leave-active {
  position: relative;
  transform: translateX(0px);
  animation: rightIn 0s;
}

@keyframes rightIn {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade 1s;
}

.fade-leave-active {
  animation: fade 0s reverse;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shimmy {
  0% { transform: scale(1.0); }
  50% { transform: scale(0.90); }
  100% { transform: scale(1.15); }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* .flash {
  animation-name: flash;
} */

@keyframes rotator {
  0% {
    opacity: 0;
    transform: rotate(263deg) scale(150%);
  }
  100% {
    transform: rotate(363deg) scale(100%);
    opacity: 1;
  }
}

@keyframes rotator2 {
  0% {
    opacity: 0;
    transform: rotate(263deg) scale(150%);
  }
  100% {
    transform: rotate(353deg) scale(100%);
    opacity: 1;
  }
}


@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0);
    opacity: 0;
  }

  95% {
    transform: scale(1.015);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}