:root {
  --timebase: 1s;

}

.bounce-enter-active { animation: bounceIn calc(var(--timebase) * .25); }
.bounce-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce2-enter-active { animation: bounceIn calc(var(--timebase) * .75); }
.bounce2-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce3-enter-active { animation: bounceIn calc(var(--timebase) * 1); }
.bounce3-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce4-enter-active { animation: bounceIn calc(var(--timebase) * 1.25); }
.bounce4-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce5-enter-active { animation: bounceIn calc(var(--timebase) * 1.5); }
.bounce5-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce6-enter-active { animation: bounceIn calc(var(--timebase) * 1.75); }
.bounce6-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce7-enter-active { animation: bounceIn calc(var(--timebase) * 2.0); }
.bounce7-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce8-enter-active { animation: bounceIn calc(var(--timebase) * 2.25); }
.bounce8-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce9-enter-active { animation: bounceIn calc(var(--timebase) * 2.5); }
.bounce9-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce10-enter-active { animation: bounceIn calc(var(--timebase) * 2.75); }
.bounce10-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce11-enter-active { animation: bounceIn calc(var(--timebase) * 3); }
.bounce11-leave-active { animation: bounceOut calc(var(--timebase) * .25); }

.bounce12-enter-active { animation: bounceIn calc(var(--timebase) * 3.5); }
.bounce12-leave-active { animation: bounceOut calc(var(--timebase) * .25); }


.topDown-enter-active {
  position: relative;
  transform: translateY(0px);
  animation: topDown .75s;
}
.topDown-leave-active {
  position: relative;
  transform: translateY(0px);
  animation: bottomUp 0.25s;
}

@keyframes topDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.bottomUp-enter-active {
  /* position: relative; */
  transform: translateY(0px);
  animation: bottomUp .5s;
}

.bottomUp-leave-active {
  /* position: relative; */
  transform: translateY(0px);
  animation: bottomUp 0s;
}

@keyframes bottomUp {
  0% {
    transform: translateY(0px);
    opacity: 0;
    height: 0;
  }

  100% {
    transform: translateY(-100px);
    opacity: 1;
  }
}

.leftIn-enter-active {
  /* position: relative; */
  transform: translateX(0px);
  animation: leftIn .5s;
}

.leftIn-leave-active {
  /* position: relative; */
  transform: translateX(0px);
  animation: leftIn 0s;
}

@keyframes leftIn {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.rightIn-enter-active {
  /* position: relative; */
  transform: translateX(0px);
  animation: rightIn .5s;
}

.rightIn-leave-active {
  /* position: relative; */
  transform: translateX(0px);
  animation: rightIn 0s;
}

@keyframes rightIn {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade 1s;
}

.fade-leave-active {
  animation: fade 0s reverse;
}

.fade {
  animation: fade 2s;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeReverse {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes shimmy {
  0% { transform: scale(1.0); }
  50% { transform: scale(0.90); }
  100% { transform: scale(1.15); }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* .flash {
  animation-name: flash;
} */

@keyframes rotator {
  0% {
    opacity: 0;
    transform: rotate(263deg) scale(150%);
  }
  100% {
    transform: rotate(363deg) scale(100%);
    opacity: 1;
  }
}

@keyframes rotator2 {
  0% {
    opacity: 0;
    transform: rotate(263deg) scale(150%);
  }
  100% {
    transform: rotate(353deg) scale(100%);
    opacity: 1;
  }
}


@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0);
    opacity: 0;
  }

  95% {
    transform: scale(1.015);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }

}

.pulsey { 
  animation: pulsey 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulsey {
  0%, 100% {
    /* opacity: 1; */
    background: black;
  }
  50% {
    /* opacity: .75; */
    background: #202020;
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(10%);
    /* height: 4rem; */
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slide-enter-active, .slide-leave-active {
  transition: transform 0.3s cubic-bezier(0.25, 0, .9, 1);
  animation: bounceUp .75s;
}
.slide-enter, .slide-leave-to {
  /* transform: translateY(-100%); */
  animation: bounceUp .75s;
}