.vueperslides__arrow {
  stroke-linejoin: round;
  color: var(--color-base-grey);
  filter: drop-shadow(0px 0px 3px hsla(0,0%,100%,0.85));

  &:hover {
    stroke-width: 1px;
    stroke: white;
  }
}

.vueperslides__arrow svg {
  width: 3rem;
  stroke: black;
  outline-width: 1px;
  filter: drop-shadow(1px 1px 1px black);
}

.vueperslides__arrow svg:hover path {
  stroke-width: 1px;
  stroke: #16a34a;
}

.vueperslides__progress {
  color: #16a34a !important;
  top: auto !important;
  bottom: 0 !important;
  height: 4px !important;
  border: 0;
}

.vueperslides__fractions {
  position: absolute;
  top: auto !important;
  left: auto !important;
  z-index: 10;
  display: inline;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 9999px !important;
  bottom: 0.5rem !important;
  right: 0.5rem;
  filter: contrast(1.5);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  color: rgba(255,255,255,0.8);
  background-color: rgba(255,255,255,0.1);
}
